box/node_gui
[{"id":"b442717.9c1329","type":"switch","z":"84b0faae.875c48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Temperatur:","vt":"str"},{"t":"cont","v":"Luftfeuchitgkeit:","vt":"str"},{"t":"cont","v":"Relait 1 Power:","vt":"str"},{"t":"cont","v":"Relait 2 Power:","vt":"str"},{"t":"cont","v":"Relait 3 Power:","vt":"str"},{"t":"cont","v":"Relait 4 Power:","vt":"str"},{"t":"cont","v":"Messdurchgang","vt":"str"},{"t":"cont","v":"Uhrzeit","vt":"str"},{"t":"cont","v":"*","vt":"str"},{"t":"cont","v":"Modus:","vt":"str"},{"t":"cont","v":"Optimale Luftfeuchte","vt":"str"},{"t":"cont","v":"Optimale Temperatur","vt":"str"},{"t":"cont","v":"Maximale Luftfeuchte","vt":"str"},{"t":"cont","v":"Minimale Luftfeuchte","vt":"str"},{"t":"cont","v":"Sonne","vt":"str"},{"t":"cont","v":"GUI","vt":"str"}],"checkall":"true","outputs":16,"x":462.5,"y":371.9000244140625,"wires":[["4d284484.f6e034"],["29f6cfc6.419768"],["436bfcbc.27dd34"],["34d8e9e3.5c78f6"],["4fad5355.5bfd9c"],["ce456b4e.5718f8"],["5988d414.9e9074"],["ffb766d6.bc32e8"],["9ebdfbdd.b18b48"],["a52dd8ce.f5b6f8"],["efdf26bc.fbe3c8"],["b72a376a.2d23f8"],["7052ce33.98286"],["4e304113.dc966"],["d908c26d.f8ae3"],["d2c4bb49.69805"]]},{"id":"29f6cfc6.419768","type":"change","z":"84b0faae.875c48","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Luftfeuchitgkeit:","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"%","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":684.5,"y":571.9000091552734,"wires":[["d67087e6.049b28","f0293f9b.259e18","3ae4d7e8.68ac48"]]},{"id":"436bfcbc.27dd34","type":"change","z":"84b0faae.875c48","name":"Relait 1 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 1","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":692.5999755859375,"y":383.50001525878906,"wires":[["2edf0f81.030be8"]]},{"id":"34d8e9e3.5c78f6","type":"change","z":"84b0faae.875c48","name":"Relait 2 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 2","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":697.5999755859375,"y":426.50001525878906,"wires":[["c6aac905.2ac9d"]]},{"id":"4fad5355.5bfd9c","type":"change","z":"84b0faae.875c48","name":"Relait 3 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 3","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":688.1999206542969,"y":464.7000274658203,"wires":[["57e2412f.ad59e8"]]},{"id":"ce456b4e.5718f8","type":"change","z":"84b0faae.875c48","name":"Relait 4 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 4","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":691.1999206542969,"y":508.7000274658203,"wires":[["1b345c22.c89714"]]},{"id":"d67087e6.049b28","type":"ui_gauge","z":"84b0faae.875c48","name":"Luftfeuchtigkeit","group":"d0961fa5.fe475","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":"10","max":"90","colors":["#b50000","#5fda0c","#0202ff"],"x":896.8001670837402,"y":583.700117111206,"wires":[]},{"id":"497937c4.94a0d8","type":"ui_chart","z":"84b0faae.875c48","name":"Luftfeuchtigkeit Diagramm","group":"d0961fa5.fe475","order":0,"width":0,"height":0,"label":"Luftfeuchtigkeit Verlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"noch keine Daten","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1516.7999267578125,"y":732.9000072479248,"wires":[[],[]]},{"id":"c6aac905.2ac9d","type":"ui_text","z":"84b0faae.875c48","group":"672df443.480f6c","order":2,"width":0,"height":0,"name":"Relait 2","label":"Relait 2","format":"{{msg.payload}}","layout":"row-left","x":900.4999847412109,"y":433.5000305175781,"wires":[]},{"id":"57e2412f.ad59e8","type":"ui_text","z":"84b0faae.875c48","group":"672df443.480f6c","order":3,"width":0,"height":0,"name":"Relait 3","label":"Relait 3","format":"{{msg.payload}}","layout":"row-left","x":911.4999732971191,"y":475.50001525878906,"wires":[]},{"id":"1b345c22.c89714","type":"ui_text","z":"84b0faae.875c48","group":"672df443.480f6c","order":4,"width":0,"height":0,"name":"Relait 4","label":"Relait 4","format":"{{msg.payload}}","layout":"row-left","x":930.4999961853027,"y":526.5000429153442,"wires":[]},{"id":"5988d414.9e9074","type":"ui_text","z":"84b0faae.875c48","group":"672df443.480f6c","order":5,"width":"6","height":"2","name":"Messdurchgang","label":"","format":"{{msg.payload}}","layout":"row-left","x":684.4999847412109,"y":655.5,"wires":[]},{"id":"4d284484.f6e034","type":"change","z":"84b0faae.875c48","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Temperatur:","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"*C","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":688.7999725341797,"y":225.6999969482422,"wires":[["97e8ce5.1afa33","4dcd1b45.0464e4"]]},{"id":"97e8ce5.1afa33","type":"ui_gauge","z":"84b0faae.875c48","name":"Temperatur","group":"62951f74.d4f72","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"10","max":"35","colors":["#001cb5","#5fda0c","#ff0202"],"x":880.7999572753906,"y":230.3000030517578,"wires":[]},{"id":"7bc023c9.1feb5c","type":"ui_chart","z":"84b0faae.875c48","name":"Temperatur Diagramm","group":"62951f74.d4f72","order":3,"width":"6","height":"4","label":"Temperatur Verlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"0","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1198.7999572753906,"y":316.5,"wires":[[],[]]},{"id":"ffb766d6.bc32e8","type":"ui_text_input","z":"84b0faae.875c48","name":"Uhr","label":"","group":"1e33bb2b.f89e4d","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":626.5001029968262,"y":715.3001861572266,"wires":[[]]},{"id":"9ebdfbdd.b18b48","type":"ui_text_input","z":"84b0faae.875c48","name":"Stars","label":"","group":"1e33bb2b.f89e4d","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":624.4999694824219,"y":770.3000335693359,"wires":[[]]},{"id":"f5c17134.1a5f38","type":"ui_template","z":"84b0faae.875c48","group":"1e33bb2b.f89e4d","name":"bild_dodo","order":3,"width":"6","height":"6","format":"<img src=\"https://www.quadrocopter.at/wp/wp-content/uploads/2016/06/site-bg.png\">","storeOutMessages":true,"fwdInMessages":true,"x":361.50000762939453,"y":517.1000843048096,"wires":[[]]},{"id":"66e3ec97.ec2fd4","type":"openweathermap in","z":"84b0faae.875c48","name":"","lon":"","lat":"","city":"Neumarkt an der Ybbs ","country":"Austria","language":"de","x":206.49996948242188,"y":825.4999694824219,"wires":[["cc6bae81.f64088","b3ca50a7.091c9","29875ac4.bdd636","d349aee3.8e6bf","650c44b2.000f64","69898c6e.3e73dc","ca3cb8fd.cece08"]]},{"id":"cc6bae81.f64088","type":"ui_gauge","z":"84b0faae.875c48","name":"","group":"e11da99b.e897c8","order":2,"width":"2","height":"2","gtype":"gage","title":"Aussentemperatur","label":"Aussentemperatur","format":"{{value}}°C","min":"-25","max":"45","colors":["#0000ff","#00ff00","#ca3838"],"x":543.4999694824219,"y":844.3000335693359,"wires":[]},{"id":"b3ca50a7.091c9","type":"function","z":"84b0faae.875c48","name":"","func":"msg.payload = msg.payload.tempc\nreturn msg;","outputs":1,"noerr":0,"x":381.4999694824219,"y":931.5000152587891,"wires":[["cc6bae81.f64088","ec56ac80.7433c"]]},{"id":"29875ac4.bdd636","type":"function","z":"84b0faae.875c48","name":"","func":"msg.payload = msg.payload.windspeed\nmsg.payload = msg.payload*3,6\nreturn msg;","outputs":1,"noerr":0,"x":366.4999694824219,"y":1006.4999847412109,"wires":[["b2c4b2fb.a4217","f8bf6dd6.64a1a"]]},{"id":"a17640dc.814cb","type":"ui_gauge","z":"84b0faae.875c48","name":"Wind","group":"e11da99b.e897c8","order":3,"width":"2","height":"2","gtype":"gage","title":"Wind","label":"kmh","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":678.5,"y":1024.300048828125,"wires":[]},{"id":"d349aee3.8e6bf","type":"function","z":"84b0faae.875c48","name":"","func":"msg.payload = msg.payload.winddirection\nreturn msg;","outputs":1,"noerr":0,"x":368.7999725341797,"y":1100.7000122070312,"wires":[["f3b0afae.9927b"]]},{"id":"c3104b18.7dc1c","type":"ui_gauge","z":"84b0faae.875c48","name":"Windrichtung","group":"e11da99b.e897c8","order":4,"width":"2","height":"2","gtype":"compass","title":"Windrichtung","label":"Grad","format":"{{value}}°","min":0,"max":"359","colors":["#00b500","#e6e600","#ca3838"],"x":698.4999618530273,"y":1132.3000383377075,"wires":[]},{"id":"650c44b2.000f64","type":"function","z":"84b0faae.875c48","name":"","func":"msg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360.79998779296875,"y":1231.6998901367188,"wires":[["30dd7526.7364f2"]]},{"id":"30dd7526.7364f2","type":"ui_gauge","z":"84b0faae.875c48","name":"","group":"e11da99b.e897c8","order":5,"width":"2","height":"2","gtype":"gage","title":"Luftfeuchte","label":"Luftfeuchte","format":"{{value}}%","min":0,"max":"100","colors":["#b50000","#00ff00","#0000ff"],"x":541.5,"y":1230.8999633789062,"wires":[]},{"id":"90a801f5.1bd5d8","type":"ui_text","z":"84b0faae.875c48","group":"e11da99b.e897c8","order":1,"width":0,"height":0,"name":"","label":"Himmel:","format":"{{msg.payload}}","layout":"row-left","x":552.5,"y":1335.2997436523438,"wires":[]},{"id":"ec56ac80.7433c","type":"ui_chart","z":"84b0faae.875c48","name":"","group":"e11da99b.e897c8","order":7,"width":"6","height":"3","label":"Temperatur Verlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":545.4999694824219,"y":900.5,"wires":[[],[]]},{"id":"69898c6e.3e73dc","type":"function","z":"84b0faae.875c48","name":"","func":"msg.payload = msg.payload.detail\nreturn msg;","outputs":1,"noerr":0,"x":361.7999725341797,"y":1321.699951171875,"wires":[["90a801f5.1bd5d8"]]},{"id":"3a95c5f7.25c81a","type":"ui_gauge","z":"84b0faae.875c48","name":"Wolken","group":"e11da99b.e897c8","order":6,"width":"2","height":"2","gtype":"gage","title":"Wolken","label":"Wolken","format":"{{value}}%","min":0,"max":"100","colors":["#34cbc4","#b1cdcf","#ffffff"],"x":543.4999694824219,"y":1378.9000091552734,"wires":[]},{"id":"ca3cb8fd.cece08","type":"function","z":"84b0faae.875c48","name":"","func":"msg.payload = msg.payload.clouds\nreturn msg;","outputs":1,"noerr":0,"x":360.7999725341797,"y":1373.699951171875,"wires":[["3a95c5f7.25c81a"]]},{"id":"96166af2.e6dea8","type":"ui_template","z":"84b0faae.875c48","group":"672df443.480f6c","name":"Nocturn_gif","order":6,"width":"1","height":"1","format":"<img src=\"https://quadrocopter.at/fotos/Nocturn.gif\">","storeOutMessages":true,"fwdInMessages":true,"x":1131.0999603271484,"y":379.5,"wires":[[]]},{"id":"4dcd1b45.0464e4","type":"delay","z":"84b0faae.875c48","name":"Limit input to 2 Minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":896.6999206542969,"y":309.8125,"wires":[["7bc023c9.1feb5c"]]},{"id":"f0293f9b.259e18","type":"delay","z":"84b0faae.875c48","name":"Limit input to 2 Minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1229.412425994873,"y":791.3187046051025,"wires":[["497937c4.94a0d8"]]},{"id":"414b4bb6.8faddc","type":"debug","z":"84b0faae.875c48","name":"","active":true,"console":"false","complete":"payload","x":948.5,"y":944.9000244140625,"wires":[]},{"id":"175b8bce.f148e4","type":"ui_audio","z":"84b0faae.875c48","name":"Humidity","group":"d0961fa5.fe475","voice":"3","x":1640.1058731079102,"y":649.2374105453491,"wires":[]},{"id":"31ba0b75.51b804","type":"change","z":"84b0faae.875c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"percent humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1457.1058349609375,"y":658.9874877929688,"wires":[["175b8bce.f148e4"]]},{"id":"dc57ac6b.2476d","type":"ui_audio","z":"84b0faae.875c48","name":"humidity","group":"62951f74.d4f72","voice":"3","x":1456.1184997558594,"y":601.1562051773071,"wires":[]},{"id":"42bf7f66.75934","type":"change","z":"84b0faae.875c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Warning! Humidity percent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1293.1181640625,"y":548.9061889648438,"wires":[["dc57ac6b.2476d"]]},{"id":"436661b9.a9303","type":"delay","z":"84b0faae.875c48","name":"Limit input to 10x/Hour","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1106.4249877929688,"y":604.2374267578125,"wires":[["42bf7f66.75934","dc57ac6b.2476d"]]},{"id":"2edf0f81.030be8","type":"ui_text","z":"84b0faae.875c48","group":"672df443.480f6c","order":1,"width":"0","height":"0","name":"","label":"Relait 1","format":"{{msg.payload}}","layout":"row-left","x":872.4999923706055,"y":385.5000100135803,"wires":[]},{"id":"b2c4b2fb.a4217","type":"smooth","z":"84b0faae.875c48","name":"windsmooth","action":"mean","count":"1","round":"2","x":515.9000549316406,"y":1021.200023651123,"wires":[["a17640dc.814cb","414b4bb6.8faddc"]]},{"id":"3ae4d7e8.68ac48","type":"switch","z":"84b0faae.875c48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"46","vt":"num"}],"checkall":"true","outputs":1,"x":889.5,"y":693,"wires":[["436661b9.a9303"]]},{"id":"87fa5064.8ffac","type":"debug","z":"84b0faae.875c48","name":"","active":true,"console":"false","complete":"false","x":950.0001220703125,"y":1545.1333618164062,"wires":[]},{"id":"35ed267.1581fda","type":"ui_form","z":"84b0faae.875c48","name":"","label":"Einstellungen","group":"6caacca7.900834","order":0,"width":"0","height":"0","options":[{"label":"Optimale Temperatur","value":"gui_opt_temp","type":"text","required":true},{"label":"Minimale Temperatur","value":"gui_min_temp","type":"text","required":true},{"label":"Maximale Temperatur","value":"gui_max_temp","type":"text","required":true},{"label":"Optiimale Luftfeuchte","value":"gui_max_hum","type":"text","required":true},{"label":"Minimale Luftfeuchte","value":"gui_min_hum","type":"text","required":true},{"label":"Maximale Luftfeuchte","value":"gui_max_hum","type":"text","required":true}],"formValue":{"gui_opt_temp":"","gui_min_temp":"","gui_max_temp":"","gui_max_hum":"","gui_min_hum":""},"payload":"","topic":"","x":352.8333282470703,"y":1505.2666549682617,"wires":[["87fa5064.8ffac","4f9cf042.90d42"]]},{"id":"a52dd8ce.f5b6f8","type":"ui_text","z":"84b0faae.875c48","group":"672df443.480f6c","order":7,"width":0,"height":0,"name":"Modus","label":"","format":"{{msg.payload}}","layout":"row-left","x":692.8333587646484,"y":97.66666412353516,"wires":[]},{"id":"7072ca72.331234","type":"delay","z":"84b0faae.875c48","name":"Limit input to 2 Minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":770.9999389648438,"y":152.99998474121094,"wires":[[]]},{"id":"263439c4.a86d16","type":"serial in","z":"84b0faae.875c48","name":"Arduino Nano","serial":"58993086.4a5ce","x":179.90000915527344,"y":371.40003967285156,"wires":[["b442717.9c1329"]]},{"id":"b72a376a.2d23f8","type":"ui_text","z":"84b0faae.875c48","group":"62951f74.d4f72","order":0,"width":0,"height":0,"name":"Optumale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":1076.8333587646484,"y":225.99999237060547,"wires":[]},{"id":"efdf26bc.fbe3c8","type":"ui_text","z":"84b0faae.875c48","group":"d0961fa5.fe475","order":0,"width":0,"height":0,"name":"Optumale Luftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":892.000358581543,"y":793.3335094451904,"wires":[]},{"id":"7052ce33.98286","type":"ui_text","z":"84b0faae.875c48","group":"d0961fa5.fe475","order":0,"width":0,"height":0,"name":"MaxLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":882.9999618530273,"y":752.3333950042725,"wires":[]},{"id":"4e304113.dc966","type":"ui_text","z":"84b0faae.875c48","group":"d0961fa5.fe475","order":0,"width":0,"height":0,"name":"MinLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":866.9999389648438,"y":835.3333129882812,"wires":[]},{"id":"d908c26d.f8ae3","type":"ui_text","z":"84b0faae.875c48","group":"1e33bb2b.f89e4d","order":0,"width":0,"height":0,"name":"Sonne","label":"","format":"{{msg.payload}}","layout":"row-left","x":418.83335876464844,"y":756.1333236694336,"wires":[]},{"id":"f3b0afae.9927b","type":"smooth","z":"84b0faae.875c48","name":"windsmooth","action":"mean","count":"1","round":"2","x":526.0000190734863,"y":1119.3333015441895,"wires":[["c3104b18.7dc1c"]]},{"id":"d2c4bb49.69805","type":"debug","z":"84b0faae.875c48","name":"","active":true,"console":"false","complete":"false","x":142.49998474121094,"y":511.6666564941406,"wires":[]},{"id":"55dffa2b.f3cab4","type":"random","z":"84b0faae.875c48","name":"","low":"1","high":"10","inte":"true","x":404.5,"y":1661.3335571289062,"wires":[[]]},{"id":"4f9cf042.90d42","type":"serial out","z":"84b0faae.875c48","name":"testout","serial":"58993086.4a5ce","x":948.5,"y":1653.6666870117188,"wires":[]},{"id":"f8bf6dd6.64a1a","type":"change","z":"84b0faae.875c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":787.4999847412109,"y":1057.6666717529297,"wires":[["414b4bb6.8faddc"]]},{"id":"d0961fa5.fe475","type":"ui_group","z":"","name":"Luftfeuchtigkeit","tab":"f971d96b.dd37c","disp":true,"width":"6"},{"id":"672df443.480f6c","type":"ui_group","z":"","name":"Relaits","tab":"f971d96b.dd37c","order":3,"disp":true,"width":"6"},{"id":"62951f74.d4f72","type":"ui_group","z":"","name":"Temperatur","tab":"f971d96b.dd37c","order":1,"disp":true,"width":"6"},{"id":"1e33bb2b.f89e4d","type":"ui_group","z":"","name":"Uhr","tab":"f971d96b.dd37c","order":4,"disp":true,"width":"6"},{"id":"e11da99b.e897c8","type":"ui_group","z":"","name":"Wetter","tab":"f971d96b.dd37c","order":5,"disp":true,"width":"6"},{"id":"6caacca7.900834","type":"ui_group","z":"","name":"Temperatur","tab":"f5add4dc.115448","disp":true,"width":"6"},{"id":"58993086.4a5ce","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"f971d96b.dd37c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"f5add4dc.115448","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":2}]
