box/node_gui
[{"id":"865ad246.431378","type":"switch","z":"65106b31.882904","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Temperatur:","vt":"str"},{"t":"cont","v":"Luftfeuchitgkeit:","vt":"str"},{"t":"cont","v":"Relait 1 Power:","vt":"str"},{"t":"cont","v":"Relait 2 Power:","vt":"str"},{"t":"cont","v":"Relait 3 Power:","vt":"str"},{"t":"cont","v":"Relait 4 Power:","vt":"str"},{"t":"cont","v":"Messdurchgang","vt":"str"},{"t":"cont","v":"Uhrzeit","vt":"str"},{"t":"cont","v":"*","vt":"str"},{"t":"cont","v":"Modus:","vt":"str"},{"t":"cont","v":"Optimale Luftfeuchte","vt":"str"},{"t":"cont","v":"Optimale Temperatur","vt":"str"},{"t":"cont","v":"Maximale Luftfeuchte","vt":"str"},{"t":"cont","v":"Minimale Luftfeuchte","vt":"str"},{"t":"cont","v":"Sonne","vt":"str"},{"t":"cont","v":"GUI","vt":"str"},{"t":"cont","v":"Maximale Temperatur","vt":"str"},{"t":"cont","v":"Minimale Temperatur","vt":"str"},{"t":"cont","v":"Wasserlevel","vt":"str"},{"t":"cont","v":"Sunrise","vt":"str"},{"t":"cont","v":"Sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":21,"x":462.5,"y":371.9000244140625,"wires":[["fbbfd935.294438"],["715d65fe.48a5ac"],["b55d6bb.ff67998"],["a7483455.d19748"],["f0f98af2.72ff78"],["3d71a3f7.7597ac"],["bbd42280.fd914"],["95e5057d.0cad78"],["d03d9d1c.a501b8"],["8fe4cc73.c07ca"],["dc2f9d41.04d348","76ebeb83.d6411c"],["bc11ad62.0f677","4d991db0.8447dc"],["2db4d531.918902","5a881925.f2257"],["f15f941f.7b0b5","af17af7e.d57298"],["b24ae537.53aa9","32d72c69.dbe4a4","ba998cdb.91b63","bc3d77c9.359d9"],["43f8abf4.6f479c"],["92d61763.3b3fb","41ac24f8.8c568c"],["1d9c1457.42d63c","156ec1c4.063f96"],["ae2999f1.5e4f"],["de1050a.191983","8dfa2c48.0ff3e8"],["851b398b.635338","23ad9125.6b34a6"]]},{"id":"715d65fe.48a5ac","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Luftfeuchitgkeit:","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"%","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":684.5,"y":571.9000091552734,"wires":[["d948579a.dae0b","3ffe0877.ae381","7554362d.b98998"]]},{"id":"b55d6bb.ff67998","type":"change","z":"65106b31.882904","name":"Relait 1 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 1","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1333.5999145507812,"y":641.5000152587891,"wires":[["41e83624.dc19a8"]]},{"id":"a7483455.d19748","type":"change","z":"65106b31.882904","name":"Relait 2 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 2","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1338.5999145507812,"y":684.5000152587891,"wires":[["9c120fab.4c67"]]},{"id":"f0f98af2.72ff78","type":"change","z":"65106b31.882904","name":"Relait 3 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 3","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1333.1998901367188,"y":727.6999816894531,"wires":[["c09b20a4.a4eac"]]},{"id":"3d71a3f7.7597ac","type":"change","z":"65106b31.882904","name":"Relait 4 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 4","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1332.1998901367188,"y":771.6999816894531,"wires":[["8f65b1bc.f844e8"]]},{"id":"d948579a.dae0b","type":"ui_gauge","z":"65106b31.882904","name":"Luftfeuchtigkeit","group":"7dd03b8.02f8d44","order":1,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":"10","max":"90","colors":["#b50000","#5fda0c","#0202ff"],"x":1262.8001708984375,"y":329.70001220703125,"wires":[]},{"id":"903d4ea7.157d7","type":"ui_chart","z":"65106b31.882904","name":"Luftfeuchtigkeit Diagramm","group":"7dd03b8.02f8d44","order":2,"width":0,"height":0,"label":"Luftfeuchtigkeit Verlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"noch keine Daten","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1235.7999267578125,"y":374.9000549316406,"wires":[[],[]]},{"id":"ade8339.b76bfd","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":2,"width":0,"height":0,"name":"Relait 2","label":"Relait 2","format":"{{msg.payload}}","layout":"row-left","x":1613.5,"y":687.5000305175781,"wires":[]},{"id":"4eb26697.6ce1a8","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":3,"width":0,"height":0,"name":"Relait 3","label":"Relait 3","format":"{{msg.payload}}","layout":"row-left","x":1613.5,"y":729.4999694824219,"wires":[]},{"id":"c770cde9.41fb8","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":4,"width":0,"height":0,"name":"Relait 4","label":"Relait 4","format":"{{msg.payload}}","layout":"row-left","x":1615.5,"y":771.5000610351562,"wires":[]},{"id":"bbd42280.fd914","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":5,"width":"6","height":"2","name":"Messdurchgang","label":"","format":"{{msg.payload}}","layout":"row-left","x":684.4999847412109,"y":655.5,"wires":[]},{"id":"fbbfd935.294438","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Temperatur:","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"*C","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":688.7999725341797,"y":225.6999969482422,"wires":[["3c72aaea.4adb16","a0b9cea1.082fb8"]]},{"id":"139e12.0bcd39ef","type":"ui_gauge","z":"65106b31.882904","name":"Temperatur","group":"271891f7.fe9936","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"10","max":"35","colors":["#001cb5","#5fda0c","#ff0202"],"x":1267.7999267578125,"y":157.30001831054688,"wires":[]},{"id":"6d5ed6af.434618","type":"ui_chart","z":"65106b31.882904","name":"Temperatur Diagramm","group":"271891f7.fe9936","order":3,"width":"6","height":"4","label":"Temperatur Verlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"0","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1239.7999267578125,"y":111.50000762939453,"wires":[[],[]]},{"id":"95e5057d.0cad78","type":"ui_text_input","z":"65106b31.882904","name":"Uhr","label":"","group":"ea0c0ca6.a07238","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":639.5001220703125,"y":723.3001708984375,"wires":[[]]},{"id":"d03d9d1c.a501b8","type":"ui_text_input","z":"65106b31.882904","name":"Stars","label":"","group":"ea0c0ca6.a07238","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":637.5,"y":795.300048828125,"wires":[[]]},{"id":"fd29462d.df4c78","type":"ui_template","z":"65106b31.882904","group":"ea0c0ca6.a07238","name":"bild_dodo","order":3,"width":"6","height":"6","format":"<img src=\"https://www.quadrocopter.at/wp/wp-content/uploads/2016/06/site-bg.png\">","storeOutMessages":true,"fwdInMessages":true,"x":284.5,"y":37.100074768066406,"wires":[[]]},{"id":"b4244496.42726","type":"ui_template","z":"65106b31.882904","group":"62a03774.4c2c38","name":"elements_gif","order":6,"width":"1","height":"1","format":"<img src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"x":1495.0999755859375,"y":526.5000305175781,"wires":[[]]},{"id":"9df7a9bc.17bcd","type":"ui_audio","z":"65106b31.882904","name":"humidity","group":"271891f7.fe9936","voice":"3","x":1449.1187133789062,"y":429.1561584472656,"wires":[]},{"id":"5cf73ad.f5a30c4","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Warning! Humidity percent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1264.1182250976562,"y":429.9061584472656,"wires":[["9df7a9bc.17bcd"]]},{"id":"9cb1ad42.ef8028","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":1,"width":"0","height":"0","name":"","label":"Relait 1","format":"{{msg.payload}}","layout":"row-left","x":1614.5,"y":642.5,"wires":[]},{"id":"3ffe0877.ae381","type":"switch","z":"65106b31.882904","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":872.5,"y":428.9999694824219,"wires":[["a2218f66.e5f2f8"]]},{"id":"c803a2d5.d17bf","type":"debug","z":"65106b31.882904","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":604.000244140625,"y":1228.13330078125,"wires":[]},{"id":"bba37eed.37d0d","type":"ui_form","z":"65106b31.882904","name":"Einstellungen_hum","label":"Einstellungen Luftfeuchte","group":"26f55683.ee6562","order":2,"width":"0","height":"0","options":[{"label":"Optiimale Luftfeuchte","value":"opth","type":"number","required":true},{"label":"Minimale Luftfeuchte","value":"minh","type":"number","required":true},{"label":"Maximale Luftfeuchte","value":"maxh","type":"number","required":true}],"formValue":{"opth":"","minh":"","maxh":""},"payload":"","topic":"Einstellungen_hum","x":114.83338928222656,"y":1163.2666015625,"wires":[["61f97bb5.ca2c54"]]},{"id":"8fe4cc73.c07ca","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":7,"width":0,"height":0,"name":"Modus","label":"","format":"{{msg.payload}}","layout":"row-left","x":739.8333740234375,"y":105.66666412353516,"wires":[]},{"id":"e9e37573.bb231","type":"serial in","z":"65106b31.882904","name":"Arduino Nano","serial":"929434e3.ae88b","x":179.90000915527344,"y":371.40003967285156,"wires":[["865ad246.431378","cd6512d.380d3f"]]},{"id":"bc11ad62.0f677","type":"ui_text","z":"65106b31.882904","group":"271891f7.fe9936","order":0,"width":0,"height":0,"name":"Optumale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":1249.8333740234375,"y":202,"wires":[]},{"id":"1a26cf9b.24a29","type":"ui_text","z":"65106b31.882904","group":"7dd03b8.02f8d44","order":4,"width":0,"height":0,"name":"Optumale Luftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":1543.0003662109375,"y":829.3334350585938,"wires":[]},{"id":"f074690a.0b8aa","type":"ui_text","z":"65106b31.882904","group":"7dd03b8.02f8d44","order":5,"width":0,"height":0,"name":"MaxLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":1532.9998779296875,"y":889.3333129882812,"wires":[]},{"id":"26c3a89c.b40268","type":"ui_text","z":"65106b31.882904","group":"7dd03b8.02f8d44","order":6,"width":0,"height":0,"name":"MinLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":1526.9998779296875,"y":950.333251953125,"wires":[]},{"id":"b24ae537.53aa9","type":"ui_text","z":"65106b31.882904","group":"ea0c0ca6.a07238","order":4,"width":0,"height":0,"name":"Sonne","label":"","format":"{{msg.payload}}","layout":"row-left","x":636.8333740234375,"y":845.13330078125,"wires":[]},{"id":"43f8abf4.6f479c","type":"debug","z":"65106b31.882904","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290.5,"y":489.6667175292969,"wires":[]},{"id":"9c5afd7a.239518","type":"serial out","z":"65106b31.882904","name":"testout","serial":"929434e3.ae88b","x":626.5001220703125,"y":1345.666748046875,"wires":[]},{"id":"1219fbc8.f606d4","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":5,"width":0,"height":0,"name":"MinLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":818.6666870117188,"y":1531.6668090820312,"wires":[]},{"id":"da5eb38f.3629f","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":4,"width":0,"height":0,"name":"Optumale Luftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":800.6670532226562,"y":1480.6670532226562,"wires":[]},{"id":"b66f567c.cebb98","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":6,"width":0,"height":0,"name":"MaxLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":809.6666870117188,"y":1431.6670532226562,"wires":[]},{"id":"92d61763.3b3fb","type":"ui_text","z":"65106b31.882904","group":"271891f7.fe9936","order":0,"width":0,"height":0,"name":"Maximale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":1250.6666259765625,"y":245.6666259765625,"wires":[]},{"id":"1d9c1457.42d63c","type":"ui_text","z":"65106b31.882904","group":"271891f7.fe9936","order":0,"width":0,"height":0,"name":"Minimale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":1261.6666259765625,"y":284.6666564941406,"wires":[]},{"id":"586cd5c7.2e3804","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":2,"width":0,"height":0,"name":"Minimale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":778.6666870117188,"y":1679.6668090820312,"wires":[]},{"id":"6dfe6f54.ad3388","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":3,"width":0,"height":0,"name":"Maximale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":778.6666870117188,"y":1632.6666870117188,"wires":[]},{"id":"f9e51bf4.b5e148","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":1,"width":0,"height":0,"name":"Optumale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":793.8334350585938,"y":1588.0000610351562,"wires":[]},{"id":"cd6512d.380d3f","type":"timeout","z":"65106b31.882904","name":"My Timeout","outtopic":"","outsafe":"","outwarning":"","outunsafe":"Unsafe","warning":"100","timer":"200","repeat":false,"again":true,"x":119.5,"y":591.6666870117188,"wires":[["43f8abf4.6f479c","ac6708cc.19a89"]]},{"id":"ac6708cc.19a89","type":"function","z":"65106b31.882904","name":"Reload MSG","func":"msg.headers = {\n    \"Node-RED-Deployment-Type\":\"reload\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":123.66667175292969,"y":659.6666870117188,"wires":[["35c4bfd1.94f5f8"]]},{"id":"35c4bfd1.94f5f8","type":"http request","z":"65106b31.882904","name":"http: Localhost","method":"POST","ret":"txt","url":"http://localhost:1880/admin/flows","tls":"","x":124.66667175292969,"y":729.6666870117188,"wires":[["ee75921d.90a7d"]]},{"id":"ee75921d.90a7d","type":"debug","z":"65106b31.882904","name":"","active":true,"console":"false","complete":"payload","x":121.66667175292969,"y":807.6666870117188,"wires":[]},{"id":"ae2999f1.5e4f","type":"change","z":"65106b31.882904","name":"water_check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Wasserlevel:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":677.8499755859375,"y":614.3499755859375,"wires":[["3a613900.99585","e7d604f4.ec704"]]},{"id":"2a9e3b90.2a4084","type":"ui_gauge","z":"65106b31.882904","name":"Waterlevel","group":"62a03774.4c2c38","order":8,"width":"2","height":"2","gtype":"wave","title":"Waterlevel","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#b50000","#5fda0c","#0202ff"],"x":1079.6666259765625,"y":965.166748046875,"wires":[]},{"id":"74b5a6.b2d3825c","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":9,"width":0,"height":0,"name":"","label":"Wasserlevel:","format":"{{msg.payload}}","layout":"row-left","x":1089.699951171875,"y":922.7999267578125,"wires":[]},{"id":"af002f39.b69548","type":"ui_form","z":"65106b31.882904","name":"daytime","label":"","group":"262fda3a.054126","order":2,"width":"0","height":"0","options":[{"label":"Tag","value":"day","type":"switch","required":true},{"label":"Sonnenaufgang","value":"sunr","type":"number","required":true},{"label":"Sonnenuntergang","value":"sund","type":"number","required":true}],"formValue":{"day":false,"sunr":"","sund":""},"payload":"","topic":"","x":92,"y":1349.349853515625,"wires":[["3c39c4f7.00c97c"]]},{"id":"3c39c4f7.00c97c","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"set","p":"payload.form","pt":"msg","to":"3","tot":"num"},{"t":"change","p":"payload.day","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload.day","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340.9000244140625,"y":1348.666748046875,"wires":[["c803a2d5.d17bf","9c5afd7a.239518"]]},{"id":"3c72aaea.4adb16","type":"delay","z":"65106b31.882904","name":"Limit input to 1x per 2 minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":955.8500366210938,"y":112.8499984741211,"wires":[["6d5ed6af.434618"]]},{"id":"7554362d.b98998","type":"delay","z":"65106b31.882904","name":"Limit input to 1x per 2 minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":936.8499755859375,"y":374.8500061035156,"wires":[["903d4ea7.157d7"]]},{"id":"3151d7d7.22397","type":"ui_form","z":"65106b31.882904","name":"Einstellungen_temp","label":"Einstellungen Temperatur","group":"26f55683.ee6562","order":1,"width":"0","height":"0","options":[{"label":"Optimale Temperatur","value":"optt","type":"number","required":true},{"label":"Minimale Temperatur","value":"mint","type":"number","required":true},{"label":"Maximale Temperatur","value":"maxt","type":"number","required":true}],"formValue":{"optt":"","mint":"","maxt":""},"payload":"","topic":"Einstellungen_temp","x":118.85000610351562,"y":1276.35009765625,"wires":[["f7e50883.7f4638"]]},{"id":"61f97bb5.ca2c54","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"set","p":"payload.form","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":362.66668701171875,"y":1162.6666870117188,"wires":[["9c5afd7a.239518","c803a2d5.d17bf"]]},{"id":"f7e50883.7f4638","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"set","p":"payload.form","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360.66668701171875,"y":1276.6666870117188,"wires":[["c803a2d5.d17bf","9c5afd7a.239518"]]},{"id":"de1050a.191983","type":"ui_text","z":"65106b31.882904","group":"ea0c0ca6.a07238","order":5,"width":0,"height":0,"name":"Sunriise","label":"","format":"{{msg.payload}}","layout":"row-left","x":632.6667022705078,"y":899.6666641235352,"wires":[]},{"id":"851b398b.635338","type":"ui_text","z":"65106b31.882904","group":"ea0c0ca6.a07238","order":6,"width":0,"height":0,"name":"Sunset","label":"","format":"{{msg.payload}}","layout":"row-left","x":634.6667022705078,"y":951.6666641235352,"wires":[]},{"id":"49a966d3.bdd3a8","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":7,"width":0,"height":0,"name":"Sonne","label":"","format":"{{msg.payload}}","layout":"row-left","x":1175.6666259765625,"y":1545.6668090820312,"wires":[]},{"id":"dbb11c0e.5d923","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":8,"width":0,"height":0,"name":"Sunriise","label":"","format":"{{msg.payload}}","layout":"row-left","x":1173.5,"y":1442.2001342773438,"wires":[]},{"id":"7c6e3a03.b36ad4","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":9,"width":0,"height":0,"name":"Sunset","label":"","format":"{{msg.payload}}","layout":"row-left","x":1175.5,"y":1494.2001342773438,"wires":[]},{"id":"3a613900.99585","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":893.6666870117188,"y":964.6666870117188,"wires":[["2a9e3b90.2a4084"]]},{"id":"e7d604f4.ec704","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":894.6666870117188,"y":922.6666870117188,"wires":[["74b5a6.b2d3825c"]]},{"id":"41e83624.dc19a8","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1486.6666259765625,"y":642.6666564941406,"wires":[["9cb1ad42.ef8028"]]},{"id":"9c120fab.4c67","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1488.6666259765625,"y":684.6666564941406,"wires":[["ade8339.b76bfd"]]},{"id":"c09b20a4.a4eac","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1483.6666259765625,"y":728.6666564941406,"wires":[["4eb26697.6ce1a8"]]},{"id":"8f65b1bc.f844e8","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1482.6666259765625,"y":771.6666870117188,"wires":[["c770cde9.41fb8"]]},{"id":"dc2f9d41.04d348","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1331.6666259765625,"y":830.6665954589844,"wires":[["1a26cf9b.24a29"]]},{"id":"2db4d531.918902","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1323.6666259765625,"y":890.6666259765625,"wires":[["f074690a.0b8aa"]]},{"id":"f15f941f.7b0b5","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1326.6666259765625,"y":949.6666259765625,"wires":[["26c3a89c.b40268"]]},{"id":"5a881925.f2257","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":602.6666870117188,"y":1430.6668090820312,"wires":[["b66f567c.cebb98"]]},{"id":"76ebeb83.d6411c","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":602.6666870117188,"y":1480.6668090820312,"wires":[["da5eb38f.3629f"]]},{"id":"af17af7e.d57298","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":603.6666870117188,"y":1531.6668090820312,"wires":[["1219fbc8.f606d4"]]},{"id":"156ec1c4.063f96","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":610.6666870117188,"y":1679.6668090820312,"wires":[["586cd5c7.2e3804"]]},{"id":"41ac24f8.8c568c","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":608.6666870117188,"y":1632.666748046875,"wires":[["6dfe6f54.ad3388"]]},{"id":"4d991db0.8447dc","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":609.6666870117188,"y":1587.6668090820312,"wires":[["f9e51bf4.b5e148"]]},{"id":"8dfa2c48.0ff3e8","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1018.6666870117188,"y":1442.6669311523438,"wires":[["dbb11c0e.5d923"]]},{"id":"23ad9125.6b34a6","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1019.6666870117188,"y":1494.6669311523438,"wires":[["7c6e3a03.b36ad4"]]},{"id":"32d72c69.dbe4a4","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1018.6666870117188,"y":1545.6669311523438,"wires":[["49a966d3.bdd3a8"]]},{"id":"79fbd3b3.e9d08c","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://quadrocopter.at/fotos/Nocturn.gif","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1259.4999389648438,"y":488,"wires":[["b4244496.42726"]]},{"id":"bc3d77c9.359d9","type":"switch","z":"65106b31.882904","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"*Sonne aktiv= 0","vt":"str"},{"t":"cont","v":"*Sonne aktiv= 1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030.4998779296875,"y":525.6666564941406,"wires":[["79fbd3b3.e9d08c"],["1701bd93.6673b2"]]},{"id":"1701bd93.6673b2","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://quadrocopter.at/fotos/animsalamando2.gif","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1261.6666259765625,"y":562.6666488647461,"wires":[["b4244496.42726"]]},{"id":"ba998cdb.91b63","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":882.4998779296875,"y":526.3334045410156,"wires":[["bc3d77c9.359d9"]]},{"id":"a0b9cea1.082fb8","type":"delay","z":"65106b31.882904","name":"Limit input to 1x per 5 minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":974.6666870117188,"y":188.66665649414062,"wires":[["139e12.0bcd39ef"]]},{"id":"a2218f66.e5f2f8","type":"rbe","z":"65106b31.882904","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1093.5,"y":430.3333740234375,"wires":[["5cf73ad.f5a30c4"]]},{"id":"7dd03b8.02f8d44","type":"ui_group","z":"","name":"Luftfeuchtigkeit","tab":"f657ad18.2bed3","order":2,"disp":true,"width":"6"},{"id":"62a03774.4c2c38","type":"ui_group","z":"","name":"Relaits","tab":"f657ad18.2bed3","order":3,"disp":true,"width":"6"},{"id":"271891f7.fe9936","type":"ui_group","z":"","name":"Temperatur","tab":"f657ad18.2bed3","order":1,"disp":true,"width":"6"},{"id":"ea0c0ca6.a07238","type":"ui_group","z":"","name":"Uhr","tab":"f657ad18.2bed3","order":4,"disp":true,"width":"6"},{"id":"26f55683.ee6562","type":"ui_group","z":"","name":"Klima","tab":"d55d3fb0.5b7ea8","order":1,"disp":true,"width":"12"},{"id":"929434e3.ae88b","type":"serial-port","z":"","serialport":"COM12","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"eb9e8256.d2da18","type":"ui_group","z":"","name":"Aktuelle Klimaeinstellungen","tab":"d55d3fb0.5b7ea8","order":2,"disp":true,"width":"6"},{"id":"262fda3a.054126","type":"ui_group","z":"","name":"Tageszeiten","tab":"d55d3fb0.5b7ea8","order":3,"disp":true,"width":"6"},{"id":"f657ad18.2bed3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3},{"id":"d55d3fb0.5b7ea8","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":4}]