box/node_gui
[{"id":"65106b31.882904","type":"tab","label":"Flow 1"},{"id":"52e0e5a.4c2d29c","type":"tab","label":"Flow 2"},{"id":"d505a779.aeb","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"3557c0e0.529e5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"f657ad18.2bed3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"62a03774.4c2c38","type":"ui_group","z":"","name":"Relaits","tab":"f657ad18.2bed3","order":4,"disp":true,"width":"6"},{"id":"a113c289.27c83","type":"ui_group","z":"","name":"Wetter","tab":"f657ad18.2bed3","order":6,"disp":true,"width":"6"},{"id":"8395661.e4c2918","type":"ui_base","name":"NocBox","theme":"theme-dark"},{"id":"23528ac0.14a856","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"ea0c0ca6.a07238","type":"ui_group","z":"","name":"Uhr","tab":"f657ad18.2bed3","order":5,"disp":true,"width":"6"},{"id":"271891f7.fe9936","type":"ui_group","z":"","name":"Temperatur","tab":"f657ad18.2bed3","order":1,"disp":true,"width":"6"},{"id":"7dd03b8.02f8d44","type":"ui_group","z":"","name":"Luftfeuchtigkeit","tab":"f657ad18.2bed3","order":2,"disp":true,"width":"6"},{"id":"d55d3fb0.5b7ea8","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":2},{"id":"26f55683.ee6562","type":"ui_group","z":"","name":"Temperatur","tab":"d55d3fb0.5b7ea8","order":1,"disp":true,"width":"12"},{"id":"eb9e8256.d2da18","type":"ui_group","z":"","name":"Aktuell","tab":"d55d3fb0.5b7ea8","order":2,"disp":true,"width":"6"},{"id":"929434e3.ae88b","type":"serial-port","z":"","serialport":"COM12","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"aef261b6.62cdc8","type":"ui_group","z":"","name":"Wasserlevel","tab":"f657ad18.2bed3","order":3,"disp":true,"width":"2"},{"id":"865ad246.431378","type":"switch","z":"65106b31.882904","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Temperatur:","vt":"str"},{"t":"cont","v":"Luftfeuchitgkeit:","vt":"str"},{"t":"cont","v":"Relait 1 Power:","vt":"str"},{"t":"cont","v":"Relait 2 Power:","vt":"str"},{"t":"cont","v":"Relait 3 Power:","vt":"str"},{"t":"cont","v":"Relait 4 Power:","vt":"str"},{"t":"cont","v":"Messdurchgang","vt":"str"},{"t":"cont","v":"Uhrzeit","vt":"str"},{"t":"cont","v":"*","vt":"str"},{"t":"cont","v":"Modus:","vt":"str"},{"t":"cont","v":"Optimale Luftfeuchte","vt":"str"},{"t":"cont","v":"Optimale Temperatur","vt":"str"},{"t":"cont","v":"Maximale Luftfeuchte","vt":"str"},{"t":"cont","v":"Minimale Luftfeuchte","vt":"str"},{"t":"cont","v":"Sonne","vt":"str"},{"t":"cont","v":"GUI","vt":"str"},{"t":"cont","v":"Maximale Temperatur","vt":"str"},{"t":"cont","v":"Minimale Temperatur","vt":"str"},{"t":"cont","v":"Wasserlevel","vt":"str"}],"checkall":"true","repair":false,"outputs":19,"x":462.5,"y":371.9000244140625,"wires":[["fbbfd935.294438"],["715d65fe.48a5ac"],["b55d6bb.ff67998"],["a7483455.d19748"],["f0f98af2.72ff78"],["3d71a3f7.7597ac"],["bbd42280.fd914"],["95e5057d.0cad78"],["d03d9d1c.a501b8"],["8fe4cc73.c07ca"],["1a26cf9b.24a29","da5eb38f.3629f"],["bc11ad62.0f677","f9e51bf4.b5e148"],["f074690a.0b8aa","b66f567c.cebb98"],["26c3a89c.b40268","1219fbc8.f606d4"],["b24ae537.53aa9"],["43f8abf4.6f479c"],["92d61763.3b3fb","6dfe6f54.ad3388"],["1d9c1457.42d63c","586cd5c7.2e3804"],["ae2999f1.5e4f"]]},{"id":"715d65fe.48a5ac","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Luftfeuchitgkeit:","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"%","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":684.5,"y":571.9000091552734,"wires":[["d948579a.dae0b","17f7849e.e61b2b","3ffe0877.ae381"]]},{"id":"b55d6bb.ff67998","type":"change","z":"65106b31.882904","name":"Relait 1 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 1","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":692.5999755859375,"y":383.50001525878906,"wires":[["9cb1ad42.ef8028"]]},{"id":"a7483455.d19748","type":"change","z":"65106b31.882904","name":"Relait 2 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 2","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":697.5999755859375,"y":426.50001525878906,"wires":[["ade8339.b76bfd"]]},{"id":"f0f98af2.72ff78","type":"change","z":"65106b31.882904","name":"Relait 3 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 3","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":688.1999206542969,"y":464.7000274658203,"wires":[["4eb26697.6ce1a8"]]},{"id":"3d71a3f7.7597ac","type":"change","z":"65106b31.882904","name":"Relait 4 check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Relait 4","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"->","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":691.1999206542969,"y":508.7000274658203,"wires":[["c770cde9.41fb8"]]},{"id":"d948579a.dae0b","type":"ui_gauge","z":"65106b31.882904","name":"Luftfeuchtigkeit","group":"7dd03b8.02f8d44","order":1,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":"10","max":"90","colors":["#b50000","#5fda0c","#0202ff"],"x":1084.8001403808594,"y":514.7000732421875,"wires":[]},{"id":"903d4ea7.157d7","type":"ui_chart","z":"65106b31.882904","name":"Luftfeuchtigkeit Diagramm","group":"7dd03b8.02f8d44","order":2,"width":0,"height":0,"label":"Luftfeuchtigkeit Verlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"noch keine Daten","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1516.7999267578125,"y":732.9000072479248,"wires":[[],[]]},{"id":"ade8339.b76bfd","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":1,"width":0,"height":0,"name":"Relait 2","label":"Relait 2","format":"{{msg.payload}}","layout":"row-left","x":900.4999847412109,"y":433.5000305175781,"wires":[]},{"id":"4eb26697.6ce1a8","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":3,"width":0,"height":0,"name":"Relait 3","label":"Relait 3","format":"{{msg.payload}}","layout":"row-left","x":911.4999732971191,"y":475.50001525878906,"wires":[]},{"id":"c770cde9.41fb8","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":4,"width":0,"height":0,"name":"Relait 4","label":"Relait 4","format":"{{msg.payload}}","layout":"row-left","x":930.4999961853027,"y":526.5000429153442,"wires":[]},{"id":"bbd42280.fd914","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":5,"width":"6","height":"2","name":"Messdurchgang","label":"","format":"{{msg.payload}}","layout":"row-left","x":684.4999847412109,"y":655.5,"wires":[]},{"id":"fbbfd935.294438","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Temperatur:","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"*C","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":688.7999725341797,"y":225.6999969482422,"wires":[["139e12.0bcd39ef","125cd723.762501"]]},{"id":"139e12.0bcd39ef","type":"ui_gauge","z":"65106b31.882904","name":"Temperatur","group":"271891f7.fe9936","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"10","max":"35","colors":["#001cb5","#5fda0c","#ff0202"],"x":880.7999572753906,"y":230.3000030517578,"wires":[]},{"id":"6d5ed6af.434618","type":"ui_chart","z":"65106b31.882904","name":"Temperatur Diagramm","group":"271891f7.fe9936","order":3,"width":"6","height":"4","label":"Temperatur Verlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"0","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1195.7999267578125,"y":314.5,"wires":[[],[]]},{"id":"95e5057d.0cad78","type":"ui_text_input","z":"65106b31.882904","name":"Uhr","label":"","group":"ea0c0ca6.a07238","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":626.5001029968262,"y":715.3001861572266,"wires":[[]]},{"id":"d03d9d1c.a501b8","type":"ui_text_input","z":"65106b31.882904","name":"Stars","label":"","group":"ea0c0ca6.a07238","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":624.4999694824219,"y":770.3000335693359,"wires":[[]]},{"id":"fd29462d.df4c78","type":"ui_template","z":"65106b31.882904","group":"ea0c0ca6.a07238","name":"bild_dodo","order":3,"width":"6","height":"6","format":"<img src=\"https://www.quadrocopter.at/wp/wp-content/uploads/2016/06/site-bg.png\">","storeOutMessages":true,"fwdInMessages":true,"x":361.50000762939453,"y":517.1000843048096,"wires":[[]]},{"id":"9f65d904.dea5b8","type":"openweathermap in","z":"65106b31.882904","name":"","lon":"","lat":"","city":"Neumarkt an der Ybbs ","country":"Austria","language":"de","x":206.49996948242188,"y":825.4999694824219,"wires":[["48d85291.7e8ee4","28c2ad53.75125a","2769c17d.f112b6","3f202df5.5734f2","9da8814c.0764e8","f5c4326b.935af8","84221dce.1d6a"]]},{"id":"48d85291.7e8ee4","type":"ui_gauge","z":"65106b31.882904","name":"","group":"a113c289.27c83","order":2,"width":"2","height":"2","gtype":"gage","title":"Aussentemperatur","label":"Aussentemperatur","format":"{{value}}°C","min":"-25","max":"45","colors":["#0000ff","#00ff00","#ca3838"],"x":543.4999694824219,"y":844.3000335693359,"wires":[]},{"id":"28c2ad53.75125a","type":"function","z":"65106b31.882904","name":"","func":"msg.payload = msg.payload.tempc\nreturn msg;","outputs":1,"noerr":0,"x":381.4999694824219,"y":931.5000152587891,"wires":[["48d85291.7e8ee4","962e5622.3075c"]]},{"id":"2769c17d.f112b6","type":"function","z":"65106b31.882904","name":"","func":"msg.payload = msg.payload.windspeed\nmsg.payload = msg.payload*3,6\nreturn msg;","outputs":1,"noerr":0,"x":366.4999694824219,"y":1006.4999847412109,"wires":[["7c1f4df8.b9f754","7939fb83.1f1bcc"]]},{"id":"a4498de1.5449a","type":"ui_gauge","z":"65106b31.882904","name":"Wind","group":"a113c289.27c83","order":3,"width":"2","height":"2","gtype":"gage","title":"Wind","label":"kmh","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":678.5,"y":1024.300048828125,"wires":[]},{"id":"3f202df5.5734f2","type":"function","z":"65106b31.882904","name":"","func":"msg.payload = msg.payload.winddirection\nreturn msg;","outputs":1,"noerr":0,"x":368.7999725341797,"y":1100.7000122070312,"wires":[["5a1359f8.e20d98"]]},{"id":"27c77359.1a58f4","type":"ui_gauge","z":"65106b31.882904","name":"Windrichtung","group":"a113c289.27c83","order":4,"width":"2","height":"2","gtype":"compass","title":"Windrichtung","label":"Grad","format":"{{value}}°","min":0,"max":"359","colors":["#00b500","#e6e600","#ca3838"],"x":698.4999618530273,"y":1132.3000383377075,"wires":[]},{"id":"9da8814c.0764e8","type":"function","z":"65106b31.882904","name":"","func":"msg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360.79998779296875,"y":1231.6998901367188,"wires":[["a6fec5c.fc430b8"]]},{"id":"a6fec5c.fc430b8","type":"ui_gauge","z":"65106b31.882904","name":"","group":"a113c289.27c83","order":5,"width":"2","height":"2","gtype":"gage","title":"Luftfeuchte","label":"Luftfeuchte","format":"{{value}}%","min":0,"max":"100","colors":["#b50000","#00ff00","#0000ff"],"x":541.5,"y":1230.8999633789062,"wires":[]},{"id":"b1d2205c.d4996","type":"ui_text","z":"65106b31.882904","group":"a113c289.27c83","order":1,"width":0,"height":0,"name":"","label":"Himmel:","format":"{{msg.payload}}","layout":"row-left","x":552.5,"y":1335.2997436523438,"wires":[]},{"id":"962e5622.3075c","type":"ui_chart","z":"65106b31.882904","name":"","group":"a113c289.27c83","order":7,"width":"6","height":"3","label":"Temperatur Verlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":545.4999694824219,"y":900.5,"wires":[[],[]]},{"id":"f5c4326b.935af8","type":"function","z":"65106b31.882904","name":"","func":"msg.payload = msg.payload.detail\nreturn msg;","outputs":1,"noerr":0,"x":361.7999725341797,"y":1321.699951171875,"wires":[["b1d2205c.d4996"]]},{"id":"51741702.1c6a18","type":"ui_gauge","z":"65106b31.882904","name":"Wolken","group":"a113c289.27c83","order":6,"width":"2","height":"2","gtype":"gage","title":"Wolken","label":"Wolken","format":"{{value}}%","min":0,"max":"100","colors":["#34cbc4","#b1cdcf","#ffffff"],"x":543.4999694824219,"y":1378.9000091552734,"wires":[]},{"id":"84221dce.1d6a","type":"function","z":"65106b31.882904","name":"","func":"msg.payload = msg.payload.clouds\nreturn msg;","outputs":1,"noerr":0,"x":360.7999725341797,"y":1373.699951171875,"wires":[["51741702.1c6a18"]]},{"id":"b4244496.42726","type":"ui_template","z":"65106b31.882904","group":"62a03774.4c2c38","name":"Nocturn_gif","order":6,"width":"1","height":"1","format":"<img src=\"https://quadrocopter.at/fotos/Nocturn.gif\">","storeOutMessages":true,"fwdInMessages":true,"x":1088.0999755859375,"y":383.5,"wires":[[]]},{"id":"125cd723.762501","type":"delay","z":"65106b31.882904","name":"Limit input to 2 Minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":896.6999206542969,"y":309.8125,"wires":[["6d5ed6af.434618"]]},{"id":"17f7849e.e61b2b","type":"delay","z":"65106b31.882904","name":"Limit input to 2 Minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1229.412425994873,"y":791.3187046051025,"wires":[["903d4ea7.157d7"]]},{"id":"34b7c9b2.9b7026","type":"debug","z":"65106b31.882904","name":"","active":true,"console":"false","complete":"payload","x":948.5,"y":944.9000244140625,"wires":[]},{"id":"c9bc4e72.4c4688","type":"ui_audio","z":"65106b31.882904","name":"Humidity","group":"7dd03b8.02f8d44","voice":"3","x":1640.1058731079102,"y":649.2374105453491,"wires":[]},{"id":"a041740c.7f805","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"percent humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1457.1058349609375,"y":658.9874877929688,"wires":[["c9bc4e72.4c4688"]]},{"id":"9df7a9bc.17bcd","type":"ui_audio","z":"65106b31.882904","name":"humidity","group":"271891f7.fe9936","voice":"3","x":1456.1184997558594,"y":601.1562051773071,"wires":[]},{"id":"5cf73ad.f5a30c4","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Warning! Humidity percent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1293.1181640625,"y":548.9061889648438,"wires":[["9df7a9bc.17bcd"]]},{"id":"8a5312b0.f78be8","type":"delay","z":"65106b31.882904","name":"Limit input to 10x/Hour","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1106.4249877929688,"y":604.2374267578125,"wires":[["5cf73ad.f5a30c4","9df7a9bc.17bcd"]]},{"id":"9cb1ad42.ef8028","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":2,"width":"0","height":"0","name":"","label":"Relait 1","format":"{{msg.payload}}","layout":"row-left","x":872.4999923706055,"y":385.5000100135803,"wires":[]},{"id":"7c1f4df8.b9f754","type":"smooth","z":"65106b31.882904","name":"windsmooth","action":"mean","count":"1","round":"2","x":515.9000549316406,"y":1021.200023651123,"wires":[["a4498de1.5449a","34b7c9b2.9b7026"]]},{"id":"3ffe0877.ae381","type":"switch","z":"65106b31.882904","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17","vt":"num"}],"checkall":"true","outputs":1,"x":889.5,"y":693,"wires":[["8a5312b0.f78be8"]]},{"id":"c803a2d5.d17bf","type":"debug","z":"65106b31.882904","name":"","active":true,"console":"false","complete":"false","x":941.0001831054688,"y":1578.1333618164062,"wires":[]},{"id":"bba37eed.37d0d","type":"ui_form","z":"65106b31.882904","name":"setup","label":"Einstellungen","group":"26f55683.ee6562","order":1,"width":"0","height":"0","options":[{"label":"Optimale Temperatur","value":"optt","type":"number","required":true},{"label":"Minimale Temperatur","value":"mint","type":"number","required":true},{"label":"Maximale Temperatur","value":"maxt","type":"number","required":true},{"label":"Optiimale Luftfeuchte","value":"opth","type":"number","required":true},{"label":"Minimale Luftfeuchte","value":"minh","type":"number","required":true},{"label":"Maximale Luftfeuchte","value":"maxh","type":"number","required":true}],"formValue":{"optt":"","mint":"","maxt":"","opth":"","minh":"","maxh":""},"payload":"","topic":"","x":332.8333282470703,"y":1505.2666549682617,"wires":[["9c5afd7a.239518","c803a2d5.d17bf"]]},{"id":"8fe4cc73.c07ca","type":"ui_text","z":"65106b31.882904","group":"62a03774.4c2c38","order":7,"width":0,"height":0,"name":"Modus","label":"","format":"{{msg.payload}}","layout":"row-left","x":692.8333587646484,"y":97.66666412353516,"wires":[]},{"id":"3c2e781e.16221","type":"delay","z":"65106b31.882904","name":"Limit input to 2 Minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":770.9999389648438,"y":152.99998474121094,"wires":[[]]},{"id":"e9e37573.bb231","type":"serial in","z":"65106b31.882904","name":"Arduino Nano","serial":"929434e3.ae88b","x":179.90000915527344,"y":371.40003967285156,"wires":[["865ad246.431378","cd6512d.380d3f"]]},{"id":"bc11ad62.0f677","type":"ui_text","z":"65106b31.882904","group":"271891f7.fe9936","order":0,"width":0,"height":0,"name":"Optumale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":1090.8333740234375,"y":217,"wires":[]},{"id":"1a26cf9b.24a29","type":"ui_text","z":"65106b31.882904","group":"7dd03b8.02f8d44","order":4,"width":0,"height":0,"name":"Optumale Luftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":949.0004272460938,"y":764.33349609375,"wires":[]},{"id":"f074690a.0b8aa","type":"ui_text","z":"65106b31.882904","group":"7dd03b8.02f8d44","order":5,"width":0,"height":0,"name":"MaxLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":960.9999389648438,"y":801.3333740234375,"wires":[]},{"id":"26c3a89c.b40268","type":"ui_text","z":"65106b31.882904","group":"7dd03b8.02f8d44","order":6,"width":0,"height":0,"name":"MinLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":963.9999389648438,"y":839.3333129882812,"wires":[]},{"id":"b24ae537.53aa9","type":"ui_text","z":"65106b31.882904","group":"ea0c0ca6.a07238","order":0,"width":0,"height":0,"name":"Sonne","label":"","format":"{{msg.payload}}","layout":"row-left","x":418.83335876464844,"y":756.1333236694336,"wires":[]},{"id":"5a1359f8.e20d98","type":"smooth","z":"65106b31.882904","name":"windsmooth","action":"mean","count":"1","round":"2","x":526.0000190734863,"y":1119.3333015441895,"wires":[["27c77359.1a58f4"]]},{"id":"43f8abf4.6f479c","type":"debug","z":"65106b31.882904","name":"","active":true,"console":"false","complete":"false","x":322.5,"y":455.6666717529297,"wires":[]},{"id":"e666577c.c89e","type":"random","z":"65106b31.882904","name":"","low":"1","high":"10","inte":"true","x":404.5,"y":1661.3335571289062,"wires":[[]]},{"id":"9c5afd7a.239518","type":"serial out","z":"65106b31.882904","name":"testout","serial":"929434e3.ae88b","x":948.5,"y":1653.6666870117188,"wires":[]},{"id":"7939fb83.1f1bcc","type":"change","z":"65106b31.882904","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":787.4999847412109,"y":1057.6666717529297,"wires":[["34b7c9b2.9b7026"]]},{"id":"1219fbc8.f606d4","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":5,"width":0,"height":0,"name":"MinLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":707.6666870117188,"y":1735.6668090820312,"wires":[]},{"id":"da5eb38f.3629f","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":4,"width":0,"height":0,"name":"Optumale Luftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":721.6671142578125,"y":1692.6670532226562,"wires":[]},{"id":"b66f567c.cebb98","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":6,"width":0,"height":0,"name":"MaxLuftfeuchte","label":"","format":"{{msg.payload}}","layout":"row-left","x":718.6666870117188,"y":1644.6670532226562,"wires":[]},{"id":"92d61763.3b3fb","type":"ui_text","z":"65106b31.882904","group":"271891f7.fe9936","order":0,"width":0,"height":0,"name":"Maximale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":1223.6666259765625,"y":267.66664123535156,"wires":[]},{"id":"1d9c1457.42d63c","type":"ui_text","z":"65106b31.882904","group":"271891f7.fe9936","order":0,"width":0,"height":0,"name":"Minimale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":1392.6666259765625,"y":298.6666564941406,"wires":[]},{"id":"586cd5c7.2e3804","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":2,"width":0,"height":0,"name":"Minimale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":735.6666870117188,"y":1519.6666870117188,"wires":[]},{"id":"6dfe6f54.ad3388","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":3,"width":0,"height":0,"name":"Maximale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":725.6666870117188,"y":1484.6666259765625,"wires":[]},{"id":"f9e51bf4.b5e148","type":"ui_text","z":"65106b31.882904","group":"eb9e8256.d2da18","order":1,"width":0,"height":0,"name":"Optumale Temp","label":"","format":"{{msg.payload}}","layout":"row-left","x":729.8334350585938,"y":1444.9999694824219,"wires":[]},{"id":"27848c1.1171cf4","type":"inject","z":"52e0e5a.4c2d29c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":362.66668701171875,"y":244.66665649414062,"wires":[[]]},{"id":"cd6512d.380d3f","type":"timeout","z":"65106b31.882904","name":"My Timeout","outtopic":"","outsafe":"","outwarning":"","outunsafe":"Unsafe","warning":"100","timer":"200","repeat":false,"again":true,"x":119.5,"y":591.6666870117188,"wires":[["43f8abf4.6f479c","ac6708cc.19a89"]]},{"id":"ac6708cc.19a89","type":"function","z":"65106b31.882904","name":"Reload MSG","func":"msg.headers = {\n    \"Node-RED-Deployment-Type\":\"reload\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":102.66667175292969,"y":696.6666870117188,"wires":[["35c4bfd1.94f5f8"]]},{"id":"35c4bfd1.94f5f8","type":"http request","z":"65106b31.882904","name":"http: Localhost","method":"POST","ret":"txt","url":"http://localhost:1880/admin/flows","tls":"","x":280.6666717529297,"y":696.6666870117188,"wires":[["ee75921d.90a7d"]]},{"id":"ee75921d.90a7d","type":"debug","z":"65106b31.882904","name":"","active":true,"console":"false","complete":"payload","x":455.6666717529297,"y":696.6666870117188,"wires":[]},{"id":"ae2999f1.5e4f","type":"change","z":"65106b31.882904","name":"water_check","rules":[{"t":"change","p":"payload","pt":"msg","from":"Wasserlevel:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":667.8499755859375,"y":614.3499755859375,"wires":[["2a9e3b90.2a4084"]]},{"id":"2a9e3b90.2a4084","type":"ui_gauge","z":"65106b31.882904","name":"Waterlevel","group":"aef261b6.62cdc8","order":1,"width":"2","height":"2","gtype":"wave","title":"Waterlevel","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#b50000","#5fda0c","#0202ff"],"x":890.6666870117188,"y":633.1667175292969,"wires":[]}]
